*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  --second-family: "Oswald", sans-serif;
  width: 1200px;
  height: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 711px;
}

.result__video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  height: 54px;
}

.search-form__fieldset {
  margin: 0;
  border: none;
}

.search-form__fieldset-title {
  margin: 0 0 6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: 0.3px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.3px;
  background-color: rgb(0 0 0 / 0);
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  width: 212px;
  height: 22px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}

.search-form__label-text {
  appearance: none;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox{
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 0 3px;
  border: 1px solid #ccc;
  vertical-align: middle;
  cursor: pointer;
}

.search-form__label input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  background-color: #fff;
}

.button {
  flex-shrink: 0;
  min-width: auto;
  min-height: 34px;
  border: 1px solid #fff;
  color: #FFF;
  font-family: var(--font-family);
  font-size: 18px;
  background-color: rgb(0 0 0 / 0);
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 2px;
}

.button:active {
  outline: none;
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  width: 194px;
  margin: 20px 0 0;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  gap: 26px;
  width: 399px;
  height: 534px;
}

.title {
  display: block;;
  width: 260px;
  height: 210px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 399px;
  border: 1px solid transparent;
  overflow: auto;
}

.content__list-item {
  width: 399px;
  height: 107px;
  padding: 2px;
  outline: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__list-item:active {
  text-decoration: none;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none; 
}

.content__card-link:focus {
  border: none;
}

.content__card-link:focus-visible {
  border: none;
  border: 1px solid #fff;
  border-radius: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  text-align: left;
}

.content__video-card-title {
  color: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card-thumbnail{
  flex: 1;
  width: 194px;
  height: 103px;
}

.more-button {
  width: 399px;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
}